<mat-toolbar>
  <span>Clean Todo App</span>
</mat-toolbar>

<div class="container">
  <ng-container *ngIf="todos$ | async; let todos">
    <mat-card>
      <mat-card-content>
        <app-filter-options></app-filter-options>
        <div>
          @switch (todos.type) {
            @case (TodoListViewModelType.NoTodo) {
              <div id="message-no-task-display">
                <h1>Aucune tâche à effectuer</h1>
                <p>Profitez de votre journée ou créez une tâche</p>
              </div>
              <app-create-todo></app-create-todo>
            }                  
            @case (TodoListViewModelType.Todos) {
              <app-display-list-todo [items]="todos.items"></app-display-list-todo>
              <app-create-todo></app-create-todo>
            }
          }
        </div>
      </mat-card-content>
    </mat-card>
  </ng-container>
</div>
