<mat-toolbar>
  <span>Clean Todo App</span>
</mat-toolbar>

<div class="container">
  <ng-container *ngIf="todos$ | async; let todos">
    <mat-card>
      <mat-card-content>
        @switch (todos.type) {
          @case (TodoListViewModelType.NoTodo) {
            {{ todos.message }}
          }
          @case (TodoListViewModelType.Loading) {
            {{ todos.message }}
          }          
          @case (TodoListViewModelType.Todos) {
            <app-display-list-todo [items]="todos.items"></app-display-list-todo>
          }
        }
      </mat-card-content>
    </mat-card>
  </ng-container>
</div>
